<div class="root" [class.loading]="loading">
  <mat-spinner *ngIf="loading"></mat-spinner>
  <ng-container *ngIf="loading === false">
    <app-page-title
      title="Agendamentos"
      subtitle="Visualize, procure ou adicione seus agendamentos"
    ></app-page-title>
    <div class="search">
      <mat-form-field appearance="outline">
        <mat-label>Buscar agendamentos</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="search"
          (ngModelChange)="onSearchInputChange($event)"
          placeholder="Começe digitando algo, pode ser telefone, horário, ou mensagem!"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <div *ngIf="search && schedulings.length > 0" class="search-result">
        <h3 class="search-result-title">
          Resultados para: "{{ search }}"
          <br />
          <app-empty-state
            *ngIf="searchResult.length <= 0"
            title="Ops, não encontramos nenhum agendamento com esses dados"
            subtitle="Que tal criar um novo ? basta clicar abaixo!"
            actionText="Criar Agendamento"
            (action)="navigateToAddScheduling()"
          ></app-empty-state>

          <app-scheduling-card
            *ngFor="let scheduling of searchResult; index as currentIndex"
            [hasTopDivider]="currentIndex === 0"
            [name]="scheduling.name"
            [date]="scheduling.date"
            [phones]="scheduling.phones.length"
            [isDeleted]="scheduling.isDeleted"
            (click)="navigateToScheduling(scheduling.id)"
          ></app-scheduling-card>
        </h3>
      </div>

      <span class="results-found-label"
        >Resultados encontrados: {{ schedulings.length }}</span
      >
      <app-scheduling-card
        *ngFor="let scheduling of schedulings; index as currentIndex"
        [hasTopDivider]="currentIndex === 0"
        [name]="scheduling.name"
        [date]="scheduling.date"
        [phones]="scheduling.phones.length"
        [isDeleted]="scheduling.isDeleted"
        (click)="navigateToScheduling(scheduling.id)"
      ></app-scheduling-card>
    </div>
    <app-empty-state
      *ngIf="schedulings.length <= 0"
      title="Ops, não encontramos nenhum agendamento"
      subtitle="Que tal criar um novo ? basta clicar abaixo!"
      actionText="Criar Agendamento"
      (action)="navigateToAddScheduling()"
    ></app-empty-state>
  </ng-container>
</div>
